body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    font-family: 'Roboto', sans-serif;
    background-image: url('img/inventory_background.webp');  /* Path to your background image */
    background-size: cover;  /* Cover the entire screen */
    background-position: center;  /* Center the background image */
    background-repeat: no-repeat;  /* Do not repeat the background image */
    color: #333;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .login-container {
    max-width: 400px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  nav {
    background-color: #d01d1d;
    padding: 10px;
  }
  
  nav a {
    color: #ff1313;
    text-decoration: none;
    margin-right: 15px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  form {
    margin-top: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
  }

}

label {
  display: block;
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}
  
  button:hover {
    background-color:#45a049;
  }

  .overview-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.overview-item {
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
}
li {
  margin-bottom: 15px;
}
li:hover {
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}